.broker-box {
    width: 320px;
    background-color: #fff;
    border: 6px;
    text-align: center;

    h3 {
        font-size: 1.8rem;
        font-weight: 700;
        color: #000;

        &:hover {
            color: #fdad00;
        }
    }
}