.rating {
    margin-bottom: 76px;

    @include mq(lg, max) {
        overflow-x: scroll;
        padding: 0 10px;
        margin-bottom: 30px;
    }
}

.rating .hide-desktop,.rating .hide-mobile {
    display: none!important
}

.rating__container {
    max-width: 1176px;
    margin: 0 auto;
    padding: 0 5px
}

.rating__header {
    margin: 0 0 28px
}

.rating__footer {
    text-align: right;
    padding: 15px 0
}

.rating .rating-table {
    background-color: #fff;
    -webkit-box-shadow: 8px 8px 15px rgba(0,0,0,.23);
    box-shadow: 8px 8px 15px rgba(0,0,0,.23);
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    min-width: 700px;

    @include mq(lg, max) {
        box-shadow: 0 0 15px rgba(0,0,0,.23);
    }
}

.rating .rating-table__header {
    background-color: #71b219;
    padding: 6px 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.rating .rating-table__header .header-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.rating .rating-table__header .header-actions a#go-to-compare {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 252px;
    flex: 0 0 252px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    margin: 0 10px 0 0;
    min-height: 37px;
    display: none
}

.rating .rating-table__header .header-actions .search {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 278px;
    flex: 0 0 278px
}

.rating .rating-table__header .header-actions .search:before {
    content: "";
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyLjQ3NiAxMC45NzRhNi44NiA2Ljg2IDAgMDAxLjMzNi00LjA2N0E2LjkxNCA2LjkxNCAwIDAwNi45MDYuMDAxIDYuOTE0IDYuOTE0IDAgMDAwIDYuOTA3YTYuOTE0IDYuOTE0IDAgMDA2LjkwNiA2LjkwNiA2Ljg2IDYuODYgMCAwMDQuMDY3LTEuMzM3bDQuNTI1IDQuNTI1TDE3IDE1LjQ5OGwtNC41MjQtNC41MjR6bS01LjU3LjcxNGE0Ljc4NiA0Ljc4NiAwIDAxLTQuNzgxLTQuNzggNC43ODYgNC43ODYgMCAwMTQuNzgxLTQuNzgyIDQuNzg2IDQuNzg2IDAgMDE0Ljc4MiA0Ljc4MSA0Ljc4NiA0Ljc4NiAwIDAxLTQuNzgyIDQuNzgxeiIgZmlsbD0iIzcxQjIxOSIvPjwvc3ZnPg==);
    position: absolute;
    width: 17px;
    height: 17px;
    left: 12px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1
}

.rating .rating-table__header .header-actions .search input {
    width: 100%;
    padding: 12px 12px 10px 40px;
    text-transform: uppercase;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px
}

.rating .rating-table__body {
    width: 100%
}

.rating .rating-table__body .level {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8%;
    flex: 0 0 8%
}

.rating .rating-table__body .icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16%;
    flex: 0 0 16%
}

.rating .rating-table__body .icon img {
    width: 80%;
    height: 40px;
    flex-shrink: 0;
    object-fit: contain;
}

.rating .rating-table__body .broker,.rating .rating-table__body .score {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16%;
    flex: 0 0 16%
}

.rating .rating-table__body .deposit {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 11%;
    flex: 0 0 11%
}

.rating .rating-table__body .vote {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 11%;
    flex: 0 0 11%
}

.rating .rating-table__body .open-account button{
    min-width: 155px;
    min-height: 25px;
    max-height: 150px !important;
    max-width: 140px;
    height: max-content;
    padding: 1%;
    font-size: 14px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.27);
    border-radius: 5px;
    line-height: 25px;
    cursor: pointer;
    background: #71B219;
    color: #000;
}

.rating .rating-table__body .regulation-forex {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 12%;
    flex: 0 0 12%
}

.rating .rating-table__body .leverage {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 11%;
    flex: 0 0 11%
}

.rating .rating-table__body .bonus {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8%;
    flex: 0 0 8%
}

.rating .rating-table__body .credit-rate,.rating .rating-table__body .currencies,.rating .rating-table__body .loan-rate,.rating .rating-table__body .trust-rating {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 12%;
    flex: 0 0 12%
}

.rating .rating-table__body .regulation,.rating .rating-table__body .supported-currencies {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 19%;
    flex: 0 0 19%
}

.rating .rating-table__body .open-account {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%
}

.rating .rating-table__body .broker-compare {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%
}

.rating .rating-table__body .table-titles {
    background-color: #f0f1f2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.rating .rating-table__body .table-titles.green li,.rating .rating-table__body .table-titles.green th {
    background-color: #71b219;
    color: #fff;
    font-weight: 400
}

.rating .rating-table__body .table-titles.green li:before,.rating .rating-table__body .table-titles.green th:before {
    background: rgba(34,36,41,.12)
}

.rating .rating-table__body .table-titles.green li:first-child,.rating .rating-table__body .table-titles.green th:first-child {
    border-radius: 6px 0 0 0
}

.rating .rating-table__body .table-titles.green li:last-child,.rating .rating-table__body .table-titles.green th:last-child {
    border-radius: 0 6px 0 0
}

.rating .rating-table__body .table-titles li,.rating .rating-table__body .table-titles th {
    background-color: #f0f1f2;
    color: #000;
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 6px;
    text-align: center
}

.rating .rating-table__body .table-titles li+li:before,.rating .rating-table__body .table-titles td+td:before,.rating .rating-table__body .table-titles th+th:before {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    background: -webkit-gradient(linear,left top,right top,from(#d0d4d9),to(#fff));
    background: -o-linear-gradient(left,#d0d4d9 0,#fff 100%);
    background: linear-gradient(90deg,#d0d4d9,#fff);
    top: 0;
    left: 0
}

.rating .rating-table__body .table-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: center;
    text-align: center;
    margin: 3px 0;
    padding: 15px 0
}

.rating .rating-table__body .table-row.is-empty {
    height: 216px
}

.rating .rating-table__body .table-row.is-empty li,.rating .rating-table__body .table-row.is-empty td {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1!important;
    -ms-flex: 1!important;
    flex: 1!important
}

.rating .rating-table__body .table-row.is-empty li svg,.rating .rating-table__body .table-row.is-empty td svg {
    width: 66px;
    height: 66px;
    margin-bottom: 16px
}

.rating .rating-table__body .table-row.is-empty li .bold,.rating .rating-table__body .table-row.is-empty td .bold {
    font-weight: 700
}

.rating .rating-table__body .table-row.is-empty li p,.rating .rating-table__body .table-row.is-empty td p {
    font-size: 18px;
    line-height: 30px;
    color: #71b219
}

.rating .rating-table__body .table-row li,.rating .rating-table__body .table-row td,.rating .rating-table__body .table-row th {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px;
    font-weight: 700;
    font-size: 1.3em;
    line-height: 1.3
}

.rating .rating-table__body .table-row li .mobile-label,.rating .rating-table__body .table-row li:before,.rating .rating-table__body .table-row td .mobile-label,.rating .rating-table__body .table-row td:before,.rating .rating-table__body .table-row th .mobile-label,.rating .rating-table__body .table-row th:before {
    display: none
}

.rating .rating-table__body .table-row li.level,.rating .rating-table__body .table-row td.level,.rating .rating-table__body .table-row th.level {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.rating .rating-table__body .table-row li.level .icon,.rating .rating-table__body .table-row td.level .icon,.rating .rating-table__body .table-row th.level .icon {
    width: 42px;
    height: 42px;
    position: relative
}

.rating .rating-table__body .table-row li.level .icon:before,.rating .rating-table__body .table-row td.level .icon:before,.rating .rating-table__body .table-row th.level .icon:before {
    content: "";
    position: absolute;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    top: 2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.rating .rating-table__body .table-row li.level .icon--first:before,.rating .rating-table__body .table-row td.level .icon--first:before,.rating .rating-table__body .table-row th.level .icon--first:before {
    content: "1"
}

.rating .rating-table__body .table-row li.level .icon--second:before,.rating .rating-table__body .table-row td.level .icon--second:before,.rating .rating-table__body .table-row th.level .icon--second:before {
    content: "2"
}

.rating .rating-table__body .table-row li.level .icon--third:before,.rating .rating-table__body .table-row td.level .icon--third:before,.rating .rating-table__body .table-row th.level .icon--third:before {
    content: "3"
}

.rating .rating-table__body .table-row li.level .icon .cup,.rating .rating-table__body .table-row td.level .icon .cup,.rating .rating-table__body .table-row th.level .icon .cup {
    width: 100%;
    max-width: 100%;
    height: 100%
}

.rating .rating-table__body .table-row li.level .circle,.rating .rating-table__body .table-row td.level .circle,.rating .rating-table__body .table-row th.level .circle {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px
}

.rating .rating-table__body .table-row li.level .circle:before,.rating .rating-table__body .table-row td.level .circle:before,.rating .rating-table__body .table-row th.level .circle:before {
    content: "";
    position: absolute;
    width: 44px;
    height: 44px;
    border: 3px solid #dedfe0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%
}

.rating .rating-table__body .table-row li.level .place,.rating .rating-table__body .table-row td.level .place,.rating .rating-table__body .table-row th.level .place {
    font-size: 12px;
    line-height: 110%;
    margin-top: 6px;
    text-align: center
}

.rating .rating-table__body .table-row li .progres-wrap,.rating .rating-table__body .table-row td .progres-wrap,.rating .rating-table__body .table-row th .progres-wrap {
    max-width: 160px
}

.rating .rating-table__body .table-row li .progres-wrap .bar-value,.rating .rating-table__body .table-row td .progres-wrap .bar-value,.rating .rating-table__body .table-row th .progres-wrap .bar-value {
    font-weight: 700
}

.rating .rating-table__body .table-row li.score,.rating .rating-table__body .table-row td.score,.rating .rating-table__body .table-row th.score {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    // gap: 10px
}

.rating .rating-table__body .table-row li.score img,.rating .rating-table__body .table-row td.score img,.rating .rating-table__body .table-row th.score img {
    max-width: 160px
}

.rating .rating-table__body .table-row li.broker,.rating .rating-table__body .table-row td.broker,.rating .rating-table__body .table-row th.broker {
    font-weight: 700;
    font-size: 19px;
    line-height: 24px
}

.rating .rating-table__body .table-row li.broker a,.rating .rating-table__body .table-row td.broker a,.rating .rating-table__body .table-row th.broker a {
    color: inherit;
    border-bottom: none;
    padding-bottom: 0
}

.rating .rating-table__body .table-row li.trust-rating p,.rating .rating-table__body .table-row td.trust-rating p,.rating .rating-table__body .table-row th.trust-rating p {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 11%;
    flex: 0 0 11%;
    font-size: 16px;
    font-weight: 700;
    color: rgba(0,0,0,.48)
}

.rating .rating-table__body .table-row li.trust-rating p span,.rating .rating-table__body .table-row td.trust-rating p span,.rating .rating-table__body .table-row th.trust-rating p span {
    color: #000
}

.rating .rating-table__body .table-row li.trust-rating a,.rating .rating-table__body .table-row td.trust-rating a,.rating .rating-table__body .table-row th.trust-rating a {
    color: #2c64eb;
    font-weight: 600;
    font-size: .8em
}

// .rating .rating-table__body .table-row li.open-account,.rating .rating-table__body .table-row td.open-account,.rating .rating-table__body .table-row th.open-account {
//     -webkit-box-orient: vertical;
//     -webkit-box-direction: normal;
//     -ms-flex-direction: column;
//     flex-direction: column;
//     -ms-flex-pack: distribute;
//     justify-content: space-around
// }

.rating .rating-table__body .table-row li.open-account .btn-wrapper,.rating .rating-table__body .table-row td.open-account .btn-wrapper,.rating .rating-table__body .table-row th.open-account .btn-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.rating .rating-table__body .table-row li.open-account .btn-wrapper>*,.rating .rating-table__body .table-row td.open-account .btn-wrapper>*,.rating .rating-table__body .table-row th.open-account .btn-wrapper>* {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.rating .rating-table__body .table-row li.open-account .btn-wrapper-column,.rating .rating-table__body .table-row td.open-account .btn-wrapper-column,.rating .rating-table__body .table-row th.open-account .btn-wrapper-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.rating .rating-table__body .table-row li.open-account .btn-wrapper-column>*,.rating .rating-table__body .table-row td.open-account .btn-wrapper-column>*,.rating .rating-table__body .table-row th.open-account .btn-wrapper-column>* {
    width: 100%;
}

.rating .rating-table__body .table-row li.open-account .btn-wrapper-column .broker-risk-notify__container,.rating .rating-table__body .table-row td.open-account .btn-wrapper-column .broker-risk-notify__container,.rating .rating-table__body .table-row th.open-account .btn-wrapper-column .broker-risk-notify__container {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.rating .rating-table__body .table-row li.open-account .btn,.rating .rating-table__body .table-row td.open-account .btn,.rating .rating-table__body .table-row th.open-account .btn {
    min-width: 155px;
    min-height: 25px;
    max-height: 150px!important;
    max-width: 200px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 1%;
    font-size: 14px;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.27);
    box-shadow: 1px 1px 2px rgba(0,0,0,.27);
    border-radius: 5px;
    line-height: 25px;
}

.rating .rating-table__body .table-row li.open-account .btn.btn--grey-light,.rating .rating-table__body .table-row td.open-account .btn.btn--grey-light,.rating .rating-table__body .table-row th.open-account .btn.btn--grey-light {
    background-color: #f2f2f2;
    color: #455a64;
}

.rating .rating-table__body .table-row li.open-account .btn.btn--grey-light:active,.rating .rating-table__body .table-row li.open-account .btn.btn--grey-light:hover,.rating .rating-table__body .table-row td.open-account .btn.btn--grey-light:active,.rating .rating-table__body .table-row td.open-account .btn.btn--grey-light:hover,.rating .rating-table__body .table-row th.open-account .btn.btn--grey-light:active,.rating .rating-table__body .table-row th.open-account .btn.btn--grey-light:hover {
    background-color: #e5e5e5;
}

.rating .rating-table__body .table-row li.open-account .broker-risk-notify,.rating .rating-table__body .table-row td.open-account .broker-risk-notify,.rating .rating-table__body .table-row th.open-account .broker-risk-notify {
    max-width: 200px;
}

.rating .rating-table__body .table-row li.open-account .broker-risk-notify__container,.rating .rating-table__body .table-row td.open-account .broker-risk-notify__container,.rating .rating-table__body .table-row th.open-account .broker-risk-notify__container {
    -ms-flex-item-align: center;
    align-self: center;
    margin-top: 5px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 413px;
}

.rating .rating-table__body .table-row li.broker-compare,.rating .rating-table__body .table-row td.broker-compare,.rating .rating-table__body .table-row th.broker-compare {
    cursor: pointer
}

.rating .rating-table__body .table-row li.broker-compare svg,.rating .rating-table__body .table-row td.broker-compare svg,.rating .rating-table__body .table-row th.broker-compare svg {
    fill: #e9e9e9;
    width: 30px;
    height: 30px;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease
}

.rating .rating-table__body .table-row li.broker-compare.active svg,.rating .rating-table__body .table-row td.broker-compare.active svg,.rating .rating-table__body .table-row th.broker-compare.active svg {
    fill: #539100
}

// .rating .rating-table__body .table-row li.bonus,.rating .rating-table__body .table-row li.broker,.rating .rating-table__body .table-row li.credit-rate,.rating .rating-table__body .table-row li.currencies,.rating .rating-table__body .table-row li.deposit,.rating .rating-table__body .table-row li.leverage,.rating .rating-table__body .table-row li.loan-rate,.rating .rating-table__body .table-row li.regulation,.rating .rating-table__body .table-row li.regulation-forex,.rating .rating-table__body .table-row li.supported-currencies,.rating .rating-table__body .table-row td.bonus,.rating .rating-table__body .table-row td.broker,.rating .rating-table__body .table-row td.credit-rate,.rating .rating-table__body .table-row td.currencies,.rating .rating-table__body .table-row td.deposit,.rating .rating-table__body .table-row td.leverage,.rating .rating-table__body .table-row td.loan-rate,.rating .rating-table__body .table-row td.regulation,.rating .rating-table__body .table-row td.regulation-forex,.rating .rating-table__body .table-row td.supported-currencies,.rating .rating-table__body .table-row th.bonus,.rating .rating-table__body .table-row th.broker,.rating .rating-table__body .table-row th.credit-rate,.rating .rating-table__body .table-row th.currencies,.rating .rating-table__body .table-row th.deposit,.rating .rating-table__body .table-row th.leverage,.rating .rating-table__body .table-row th.loan-rate,.rating .rating-table__body .table-row th.regulation,.rating .rating-table__body .table-row th.regulation-forex,.rating .rating-table__body .table-row th.supported-currencies {
//     padding-top: 2%
// }

.rating .more-button {
    margin: 15px auto;
    width: auto!important;
    padding: 25px!important;
    color: #455a64!important
}

//

.progres-wrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.progres-wrap .bar-wrap {
    width: 100%;
    margin: 0 10px 0 0;
    border-radius: 2px;
    background-color: #dde0dc;
    height: 18px;
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.23);
    box-shadow: 5px 5px 10px rgba(0,0,0,.23);
    position: relative
}

.progres-wrap .bar-wrap:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 18px;
    background-image: url(/assets/images/progress-vertical-line.svg);
    background-repeat: repeat-x;
    background-position: 0;
    top: 0;
    left: 0
}

.progres-wrap .bar-fill {
    -webkit-animation: bar-fill 1s;
    animation: bar-fill 1s;
    background-color: #6ba321;
    display: block;
    height: 18px;
    width: 0
}

.progres-wrap .bar-value {
    font-weight: 500;
    font-size: 19px;
    line-height: 22px
}