.breadcrumbs {
    ul {
        display: flex;
        gap: 20px;

        li {
            position: relative;
            &:not(:last-child) {
                &::after  {
                    position: absolute;
                    content: '>';
                    right: -15px;
                    top: 0;
                }
            }
        }
    }
}