.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.social__entry {
    color: #828282;
    margin: 0 12px 0 0
}

.social__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 5px 0 0
}

.social__item--white {
    background-color: #fff
}

.social__item--white:hover {
    background-color: #e6e6e6;
}

.social__item--green {
    background-color: #3e458d;
}

.social__item--green:hover {
    background-color: #819d26;
}

.social__item--header {
    width: 27px;
    height: 27px;
    line-height: 27px
}

.social__item--footer {
    width: 38px;
    height: 38px;
    line-height: 38px
}

.social__icon--vk-header {
    width: 17px;
    height: 9px
}

.social__icon--mail-header {
    width: 13px;
    height: 13px
}

.social__icon--ok-header {
    width: 10px;
    height: 16px
}

.social__icon--facebook-header {
    width: 8px;
    height: 16px
}

.social__icon--twitter-header {
    width: 14px;
    height: 11px
}

.social__icon--vk-footer {
    width: 24px;
    height: 13px
}

.social__icon--mail-footer {
    width: 19px;
    height: 19px
}

.social__icon--ok-footer {
    width: 14px;
    height: 22px
}

.social__icon--youtube-footer {
    width: 24px;
    height: 16.8px
}

.social__icon--facebook-footer {
    width: 12px;
    height: 23px
}

.social__icon--twitter-footer {
    width: 19px;
    height: 16px
}

.social__icon--grey {
    fill: #828282
}

.social__icon--white {
    fill: #fff
}

.socialite,.socialite__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.socialite__item {
    height: 28px;
    width: 28px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: var(--socialite-bg);
    border-radius: 6px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    cursor: pointer
}

.socialite__item:hover {
    -webkit-filter: brightness(80%);
    filter: brightness(80%)
}

.socialite__item:not(:last-child) {
    margin-right: 10px
}

.socialite__item svg {
    width: var(--socialite-icon-w)
}

.social__item.social__item--footer svg {
    width: 24px;
    height: 16.8px;
    display: block
}