.review-content {
    ul {
        margin-left: 35px;
        li {
            list-style: initial;

        }
    }

    img {
        width: 100%;
        height: auto;
    }
}

.review-page {
    display: flex;
    margin: 0 -1.6rem;
    margin-top: 30px;

    @include mq(tab, max) {
        flex-direction: column;
    }
    
    .review-content {
        width: calc(80% - 100px);
        padding: 0 1.6rem;
        flex: 0 0 auto;

        @include mq(tab, max) {
            width: 100%;
        }
    }

    .list-san {
        width: calc(((100% * 1) / 5) + 100px);
        padding: 0 1.6rem;
        position: sticky;
        max-height: calc(100vh - 105px);
        top: 75px;
        height: max-content;
        overflow-y: auto;

        @include mq(tab, max) {
            width: 100%;
            max-height: none;
        }

        .heading {
            font-size: 2rem;
            font-weight: 700;
            color: #0a0071;
            margin-bottom: 10px;
            display: block;

            svg {
                font-size: 2.5rem;
                color: #DAAA51 !important;
                margin-right: 10px;
                
            }
        }

        .all-news {
            border: 1px solid #e5e5e5;
            max-height: 525px;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 10px;
                
            }

            /* Track */
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px #fff;
                border-radius: 10px;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: #e5e5e5;
                border-radius: 10px;
            }

            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: #e5e5e5;
                cursor: pointer;
            }
        }

        .box-new {
            /* width */

            width: 100%;

            .new {
                flex-direction: row-reverse;

                @include mq(tab, max) {
                    flex-direction: row;
                }

                .image {
                    width: 100px;

                    @include mq(tab, max) {
                        width: 250px;
                    }

                    @include mq(md, max) {
                        width: 160px;
                    }
                }

                .info {
                    padding-right: 10px;
                    padding-left: 0;
                    @include mq(tab, max) {
                        padding-left: 10px;
                    }
                    h5 {
                        font-weight: 500;
                        font-size: 1.3rem;
                        line-height: 2.2rem;
                    }
                }

            }

            &:not(:last-child) {
                .new {
                    border-bottom: 1px solid #e5e5e5;
                }
            }


            .time,
            .desc {
                display: none;
            }


        }
    }
}