
/*------------------------------------------------------------
mainvisual
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-mainvisual .slick-arrow {
  display: none !important;
}
.c-mainvisual .slick-list img {
  height: calc(85vh - 60px);
  object-fit: cover;
  width: 100%;

  @include mq(tab, max) {
    height: calc(75vh - 60px);
  }

  @include mq(sm, max) {
    height: calc(35vh - 60px);
  }
}