.p-forum {
    .content {
        > * {
            font-size: 1.4rem !important;
            margin: 0 !important;
            line-height: 2.45rem !important;
        }

        display: flex;
        max-width: 100%;
        margin: 0 auto;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 10rem;
    }
    
    .text {
        color: #fff;
        font-size: 2rem;
    }
}

.logo-bottom {
    object-fit: cover;
}

.banner-forum {
    background-color: #001e78;
    img {
        height: 16rem;
    }
}

.sub-menu {
    background-color: #0b1a33;
    padding: 16px 0;
    color: #fff;
    margin-bottom: 20px;

    a {
        color: #fff;
        background-color: #5488c7;
        border-color: #5488c7;
        padding: 6px 12px;
        border-radius: 8px;

        svg {
            margin-right: 5px;
            font-size: 1.4rem;
        }
    }
    ul {
        display: flex;
        
        li {
            margin-right: 20px;
            font-size: 1.8rem;
        }
    }

    > div {
        display: flex;
        justify-content: space-between;
    }
}

.layout-forum {
    display: flex;

    .post-feed {
        width: 75%;
        padding-right: 15px;
    }
}

.siderbar-forum {
    width: 25%;

    .list {
        ul {
            li {
                border-bottom: 1px solid #e9ecef;
                padding-top: 0.8rem;
                padding-bottom: 0.8rem;
            }
        }
    }   
}

hr {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    border: 0;
    border-top: 1px solid rgba(27,27,27,.1);

    margin-left: 1.6em;
    flex-grow: 1;
    border-color: #d6d6d7;

    box-sizing: initial;
    height: 0;
    overflow: visible;
}