.p-forum {
    .content {
        > * {
            font-size: 1.4rem !important;
            margin: 0 !important;
            line-height: 2.45rem !important;
        }

        display: block;
        max-width: 100%;
        margin: 0 auto;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 10rem;
    }
}