.item-dashboard {
    position: relative;
    border: 1px solid #ab8a41;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%
}

.item-dashboard:after,.item-dashboard:before {
    content: "";
    position: absolute;
    background: url(/images/item-dashboard.png)
}

.item-dashboard:before {
    left: -2px;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 279px;
    background-position: -31px -277px
}

.item-dashboard:after {
    left: 50%;
    bottom: -2px;
    transform: translateX(-50%);
    height: 4px;
    width: 970px;
    background-position: -849px -10px
}

.item-dashboard .is-my-contest {
    position: absolute;
    left: -2px;
    top: -2px;
    background: url(/images/item-dashboard.png);
    width: 75px;
    height: 84px;
    background-position: -849px -167px;
    z-index: 2
}

.item-dashboard .icon-collapse {
    position: absolute;
    right: 5px;
    top: 5px;
    background: url(/images/item-dashboard.png);
    width: 36px;
    height: 36px;
    background-position: -1611px -91px;
    z-index: 2;
    cursor: pointer
}

.item-dashboard .icon-collapse:hover {
    opacity: .8
}

.item-dashboard .icon-collapse.is-open {
    transform: rotate(180deg)
}

.item-dashboard.is-open:after {
    background: 0 0
}

.item-dashboard.is-open .item {
    position: relative;
    padding-bottom: 20px
}

.item-dashboard.is-open .item:before {
    content: "";
    position: absolute;
    background: url(/images/item-dashboard.png);
    left: 50%;
    bottom: -2px;
    transform: translateX(-50%);
    height: 4px;
    width: 970px;
    background-position: -849px -10px
}

.item-dashboard .item {
    display: flex;
    padding: 15px 50px 25px 20px
}

@media(max-width: 1200px) {
    .item-dashboard .item {
        padding-right:40px
    }
}

.item-dashboard .item-avatar {
    position: relative;
    margin-right: 25px;
    width: 155px;
    height: 155px
}

.item-dashboard .item-avatar:before {
    content: "";
    position: absolute;
    background: url(/images/border-avatar.png);
    top: -4px;
    width: 179px;
    height: 247px;
    left: -13px;
    z-index: 1
}

@media(max-width: 1200px) {
    .item-dashboard .item-avatar {
        margin-right:10px
    }
}

.item-dashboard .item-avatar__form {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 50%
}

.item-dashboard .item-avatar__name {
    position: absolute;
    z-index: 1;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    font-weight: 500;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;
    max-height: 20px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-width: 140px;
    text-align: center
}

.item-dashboard .item-avatar__private {
    position: absolute;
    background: url(/images/avatar-frame/avatar-private.png) no-repeat 50%;
    background-size: cover;
    width: 64px;
    height: 68px;
    z-index: 3;
    right: -20px;
    top: 0
}

.item-dashboard .item-avatar__nextimg {
    position: relative;
    width: 100%;
    height: 100%
}

.item-dashboard .item-avatar__nextimg img {
    border-radius: 50%
}

.item-dashboard .item-content {
    width: calc(100% - 500px);
    padding-right: 8%
}

@media(max-width: 1400px) {
    .item-dashboard .item-content {
        padding-right:2%;
        width: calc(100% - 505px)
    }
}

@media(max-width: 1200px) {
    .item-dashboard .item-content {
        padding:0 15px;
        width: calc(100% - 470px)
    }
}

.item-dashboard .item-content__title {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    cursor: pointer
}

.item-dashboard .item-content__title>a {
    color: inherit;
    color: #ffcb70;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 22px;
    max-height: 44px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word
}

.item-dashboard .item-content__title:hover {
    opacity: .7
}

@media(max-width: 1200px) {
    .item-dashboard .item-content__title {
        overflow:hidden;
        position: relative;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 98%
    }
}

.item-dashboard .item-content-time {
    display: flex;
    position: relative;
    padding-bottom: 22px;
    margin-bottom: 25px
}

.item-dashboard .item-content-time:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: url(/images/item-dashboard.png);
    background-position: -1155px -34px;
    width: 602px;
    height: 3px;
    bottom: 0
}

.item-dashboard .item-content-time__item {
    background-color: hsla(0,0%,100%,.18);
    margin-right: 14px;
    display: flex;
    align-items: center;
    padding: 6px 10px
}

@media(max-width: 1300px) {
    .item-dashboard .item-content-time__item {
        font-size:12px
    }
}

@media(max-width: 1200px) {
    .item-dashboard .item-content-time__item {
        padding:5px 8px;
        width: 33.3333333333%;
        margin-right: 5px;
        font-size: 12px
    }

    .item-dashboard .item-content-time__item--icon {
        float: left
    }
}

.item-dashboard .item-content-time__item-button {
    background-color: transparent;
    padding: 0
}

.item-dashboard .item-content-time__item-button a {
    box-shadow: none;
    color: #ff9d04;
    border: 1px solid hsla(0,0%,100%,.18);
    background-color: transparent;
    padding: 6px 20px;
    white-space: nowrap
}

@media(max-width: 1200px) {
    .item-dashboard .item-content-time__item-button a {
        padding:13px 20px
    }
}

.item-dashboard .item-content-time__item-button a:hover {
    background-color: #ff9d04;
    color: #fff
}

.item-dashboard .item-content-time__item-start {
    min-width: 195px;
    flex: none
}

.item-dashboard .item-content-time__item-start .item-content-time__item--time {
    color: #03e1bf
}

.item-dashboard .item-content-time__item-end {
    min-width: 180px;
    flex: none
}

.item-dashboard .item-content-time__item-end .item-content-time__item--icon {
    width: 17px;
    height: 22px;
    background-position: -944px -167px
}

.item-dashboard .item-content-time__item--icon {
    width: 16px;
    height: 23px;
    background: url(/images/item-dashboard.png);
    background-position: -944px -209px
}

.item-dashboard .item-content-time__item--name {
    padding-left: 10px;
    color: hsla(0,0%,100%,.7);
    margin-right: 20px
}

@media(max-width: 1200px) {
    .item-dashboard .item-content-time__item--name {
        margin-right:10px;
        white-space: nowrap;
        font-size: 12px
    }
}

.item-dashboard .item-content-info {
    display: flex
}

.item-dashboard .item-content-info__item {
    flex: 1;
    text-align: center
}

.item-dashboard .item-content-info__item:first-child {
    text-align: left
}

.item-dashboard .item-content-info__item:first-child .item-content-info__item--content {
    justify-content: flex-start
}

.item-dashboard .item-content-info__item .item-avatar__private {
    display: none
}

.item-dashboard .item-content-info__item--title {
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;
    letter-spacing: .32px
}

.item-dashboard .item-content-info__item--title>span {
    color: #00f0ff;
    margin-right: 5px
}

.item-dashboard .item-content-info__item--content {
    display: flex;
    align-items: center;
    justify-content: center
}

.item-dashboard .item-prize {
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(0deg,#d09345,#9b6e20);
    border-image-slice: 1;
    padding: 25px;
    max-width: 400px;
    justify-content: flex-end;
    flex: 1
}

@media(max-width: 1400px) {
    .item-dashboard .item-prize {
        padding:15px;
        max-width: 350px
    }
}

@media(max-width: 1200px) {
    .item-dashboard .item-prize {
        padding:15px;
        max-width: 300px
    }
}

.item-dashboard .item-prize__title {
    font-size: 18px;
    color: #ccc187;
    letter-spacing: .36px;
    margin-bottom: 15px;
    position: relative;
    text-transform: uppercase;
    padding-left: 60px
}

.item-dashboard .item-prize__title:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url(/images/item-dashboard.png);
    width: 46px;
    height: 38px;
    background-position: -1545px -91px
}

.item-dashboard .item-prize__total {
    text-align: center;
    margin-bottom: 20px;
    background-image: linear-gradient(0deg,#d59557,#d3ad54,#ffee9c),linear-gradient(180deg,#ccc187,#ccc187);
    font-size: 22px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: .48px;
    color: #ccc187;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.item-dashboard .item-prize__fee {
    display: flex;
    align-items: center;
    margin-bottom: 20px
}

.item-dashboard .item-prize__fee--title {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    letter-spacing: .32px;
    text-transform: uppercase;
    padding-left: 25px;
    position: relative;
    color: hsla(0,0%,100%,.7)
}

.item-dashboard .item-prize__fee--title:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url(/images/icon-prize-fee.png) no-repeat 50%;
    width: 18px;
    height: 18px
}

.item-dashboard .item-prize__fee--value {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    font-size: 16px;
    color: #fff;
    letter-spacing: .32px;
    font-size: 18px;
    font-weight: 700;
    text-align: right;
    padding-left: 8px
}

.item-dashboard .item-prize__button {
    text-align: center
}

.item-dashboard .item-prize__button button {
    background: url(/images/main-bg-button.png);
    width: 201px;
    height: 48px;
    background-position: -10px -147px
}

.item-dashboard .item-prize__button button span {
    text-transform: uppercase
}

.item-dashboard-grid-ct {
    margin-left: -8px;
    margin-right: -8px
}

.item-dashboard-grid {
    display: inline-block;
    width: calc(25% - 16px);
    margin: 0 8px 16px
}

@media(max-width: 1500px) {
    .item-dashboard-grid {
        width:calc(33.3333333333% - 16px)
    }
}

.item-dashboard-grid:after,.item-dashboard-grid:before {
    background: 0 0;
    width: 0
}

.item-dashboard-grid .item {
    flex-direction: column;
    padding: 10px
}

.item-dashboard-grid .item .item-dashboard-grid-top {
    display: flex
}

.item-dashboard-grid .item-avatar {
    width: 80px;
    height: 125px;
    margin-right: 16px
}

.item-dashboard-grid .item-avatar__form {
    left: 6px
}

.item-dashboard-grid .item-avatar:before {
    content: "";
    position: absolute;
    background: url(/images/border-avatar.png);
    top: -2px;
    width: 91px;
    height: 125px;
    left: -1px;
    z-index: 1;
    background-size: contain
}

.item-dashboard-grid .item-avatar__name {
    position: absolute;
    z-index: 1;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    font-weight: 500;
    font-size: 10px;
    display: -webkit-box;
    line-height: 18px;
    max-height: 18px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: 70px;
    text-align: center;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block
}

.item-dashboard-grid .item-avatar__private {
    position: absolute;
    width: 32px;
    height: 34px;
    z-index: 3;
    right: -10px;
    top: 0
}

.item-dashboard-grid .item-content {
    width: 100%;
    padding-right: 0
}

.item-dashboard-grid .item-content-time {
    flex-direction: column;
    width: calc(100% - 93px);
    margin-bottom: 20px;
    padding-bottom: 0
}

.item-dashboard-grid .item-content-time:before {
    background: 0 0;
    width: 0
}

.item-dashboard-grid .item-content-time__item {
    width: 100%;
    margin-bottom: 8px;
    margin-right: 0
}

.item-dashboard-grid .item-content-time__item--icon {
    transform: scale(.8)
}

.item-dashboard-grid .item-content-time__item--name {
    font-size: 12px
}

.item-dashboard-grid .item-content-time__item--time {
    font-size: 12px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    text-align: right
}

@media(max-width: 1100px) {
    .item-dashboard-grid .item-content-time__item--time {
        text-align:left
    }
}

.item-dashboard-grid .item-content__title {
    font-size: 16px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    text-overflow: ellipsis;
    display: inline-block;
    text-align: center;
    height: 40px;
    padding: 5px 10px;
    margin-bottom: 10px;
    color: #ffcb70
}

.item-dashboard-grid .item-content__title:hover {
    opacity: .7
}

.item-dashboard-grid .item-content__title:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    background: url(/images/item-dashboard-grid.png);
    width: 310px;
    height: 36px;
    background-position: -10px -10px
}

.item-dashboard-grid .item-content-info {
    margin-bottom: 20px
}

.item-dashboard-grid .item-content-info__item--title {
    font-size: 12px;
    margin-bottom: 10px
}

.item-dashboard-grid .item-content-info__item--content .box-user-avatar__item {
    width: 26px;
    height: 26px;
    margin-left: -5px
}

.item-dashboard-grid .item-content-info__item--content .box-user-avatar__item:first-child {
    margin-left: 0
}

.item-dashboard-grid .item-content-info__item--content .box-user-avatar__item-all-user>span {
    font-size: 10px
}

.item-dashboard-grid .item-content-info__item--organizer .item-content-info__item--title {
    text-align: right
}

.item-dashboard-grid .item-content-info__item--organizer .item-content-info__item--content {
    justify-content: flex-end
}

.item-dashboard-grid .item-content-info__item--organizer .box-user-avatar__name {
    margin-left: 0;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 18px;
    max-height: 36px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: block
}

.item-dashboard-grid .item-content-info__item--organizer .box-user-avatar__item:before {
    background-image: none
}

.item-dashboard-grid .item-content-info__item--organizer .box-user-avatar__item--vip {
    top: 50%;
    transform: translateY(-50%);
    right: 3px
}

.item-dashboard-grid .item-prize {
    padding: 10px;
    max-width: 100%
}

.item-dashboard-grid .item-prize__title {
    font-size: 14px;
    padding-left: 35px
}

.item-dashboard-grid .item-prize__title:before {
    transform: scale(.6);
    top: -6px;
    left: -6px
}

.item-dashboard-grid .item-prize__total {
    position: relative;
    font-size: 18px
}

.item-dashboard-grid .item-prize__total:before {
    content: "";
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    background: url(/images/item-dashboard-grid.png);
    width: 258px;
    height: 32px;
    background-position: -10px -211px
}

.item-dashboard-grid .item-prize__fee {
    margin-bottom: 10px
}

.item-dashboard-grid .item-prize__fee--title,.item-dashboard-grid .item-prize__fee--value {
    font-size: 14px
}

.item-dashboard-grid .item-prize__button button {
    transform: scale(.8)
}