.profile-tabs {
    border-top: solid #d6d6d7;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
    border-width: 1px 0 0;
    
    ul {
        display: flex;
        padding: 15px 0;
        
        li {
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}