/* Header
------------------------------------------------------------*/
.c-header {
    position: fixed;
    width: 100%;
    z-index: 99;
    background-color: #0f172a;
    color: #fff;
    height: 60px;
  
    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      // @include mq(xxl, max) {
      //   padding: 29px 100px;
      // }
  
      // @include mq(xl, max) {
      //   padding: 29px 40px;
      // }
  
      // @include mq(md, max) {
      //   padding: 15px 20px;
      // }
    }
  
    // &__logo {
    //   width: 210px;
    //   height: 70px;
  
    //   img {
    //     width: 100%;
    //     height: 100%;
  
    //     @include sp {
    //       width: 80%;
    //     }
    //   }
    // }
  
    &.is-scroll {
      background-color: #FFF;
      z-index: 999999;
      top: 0 !important;
      min-height: 50px;
      box-shadow: 0 3px 6px 3px rgb(0 0 0 / 6%);
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: fadeInDown;
      animation-name: fadeInDown;
      background: #fff !important;
  
      .logo {
        display: none;
      }
  
      .logo1 {
        display: block;
      }
  
      ul {
        li {
          color: #000;
  
          &::after {
            background-color: #000;
          }
        }
      }
    }

    
    .search {
      width: 300px;
    }
    
    .search input {
      width: 80%;
      height: 40px;
      border: none;
      outline: none;
    }
    
    .search button {
      width: 20%;
      height: 40px;
      border: none;
      outline: none;
    }
    
    .search img {
      width: 100%;
    }
  }

  .topbar {
    width: 100%;
    height: 50px;
    background-color: #71b219;
    
  }

  .topbar .l-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .title {
    max-width: 80%;
  }
  
  .logo img {
    width: 100px;
    height: auto;
    margin: 10px;
  }
  
  .login {
    // width: 10%;
    height: 100%;
    float: right;

    @include mq(tab, max) {
      display: none;
    }
  }
  
  .login a {
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  
  .login a:hover {
    background-color: #e91e63;
  }